In [101]:
# Calculates the integrity of the dataset (% of missing values) 
 
import pandas as pd
 
df = pd.read_csv("immo_data_set.csv")

kf = pd.DataFrame()
for i in df:
    if i in ['rooms_number', 'area']:
        kf[i] = (df[i].count() - df[df[i] == -1].count())/df.count()
    else:
        kf[i] = df[i].count()/df.count()
    df
kf.head()

            Unnamed: 0  hyperlink  ...  swimming_pool_has  building_state
Unnamed: 0        1.00       1.00  ...               0.96            0.56
hyperlink         1.00       1.00  ...               0.96            0.56
postcode          1.00       1.00  ...               0.96            0.56
Province          1.00       1.00  ...               0.96            0.56
Region            1.00       1.00  ...               0.96            0.56

[5 rows x 22 columns]