In [109]:
## found a way to remove white spances in columnsqq

import pandas as pd 
import numpy as np
import re

missing_values = ['', 'None','Notspecified']

df = pd.read_csv("all_sales_data.csv", na_values= missing_values)

# removing the spaces at the end and begining of the column name
for i in df.columns:
    df.rename(columns={i: i.strip()}, inplace=True)

# removes dataset from group 2
df = df.drop(df[df.source == 2].index)

# removing dolar signs, commas and euro signs in the price column
# df['price'] = df['price'].replace({'$': '', ',': '',"€":""}, regex=True)

# removing m² and white spaces
df['area'] = df['area'].replace({'m': '', ' ': '',"²":""}, regex=True)

In [86]:
df.area.isnull().sum()

5270

In [111]:
# area

df.area.fillna('-1', inplace=True)
df.loc[df.area == "Notspecified"] = np.nan
df['area'] = df['area'].str.replace('.0','')
df['area'] = df['area'].str.replace('0','-1')
df.loc[df['area'] == 0, 'area'] = '-1'
df.loc[df['area'] == '', 'area'] = '-1'
df.area.fillna(0, inplace=True)
df.area.isnull().sum()
df.area.unique()
# jf = df[pd.notnull(df.area)]
# jf[jf['area'].value.isnumeric()]

array(['242', '349', '3', '235', '2', '-1', '1', '156', '255', '137', '5',
       '118', '7', '232', '257', '265', '568', '927', '49', '585', '315',
       '259', '277', '325', '226', '245', '275', '175', '114', '352',
       '412', '519', '211', '268', '367', '123', '8', '125', '237', '177',
       '85', '361', '144', '128', '4', '648', '983', '184', '1262', '425',
       '423', '2-1', '195', '135', '187', '521', '93', '127', '9', '134',
       '224', '288', '446', '166', '178', '233', '358', '193', '115',
       '272', '387', '63', '189', '18', '172', '431', '171', '276', '23',
       '263', '159', '362', '331', '314', '133', '258', '332', '444',
       '136', '99', '165', '485', '112', '289', '221', '312', '264',
       '337', '231', '185', '354', '348', '222', '6', '498', '68', '313',
       '273', '427', '865', '461', '162', '62', '196', '153', '246',
       '262', '252', '248', '82', '169', '168', '145', '646', '627',
       '228', '236', '365', '143', '164', '562', '375', '518', '415',
       '234', '131', '317', '188', '274', '141', '345', '456', '281',
       '637', '295', '433', '436', '858', '285', '191', '479', '385',
       '282', '647', '464', '322', '12', '278', '15', '17', '254', '478',
       '616', '95', '492', '297', '716', '227', '157', '266', '261',
       '142', '351', '376', '491', '468', '625', '1148', '97', '391',
       '253', '471', '176', '75', '535', '179', '251', '1-1', '526',
       '384', '475', '256', '225', '1254', '8-1', '182', '76', '453',
       '371', '42', '215', '1326', '395', '217', '985', '51', '61', '783',
       '126', '69', '138', '545', '218', '978', '19', '432', '473', '445',
       '451', '1612', '214', '121', '43', '154', '173', '355', '92', '71',
       '5-1', '241', '641', '79', '785', '452', '347', '124', '152', '67',
       '198', '595', '267', '212', '429', '373', '462', '483', '287',
       '238', '455', '25', '1339', '216', '344', '318', '341', '466',
       '155', '163', '271', '447', '249', '64', '691', '284', '223',
       '151', '239', '775', '186', '333', '1796', '292', '516', '493',
       '368', '422', '525', '654', '199', '279', '396', '496', '58',
       '1333', '84', '623', '194', '113', '326', '244', '876', '356',
       '296', '294', '418', '386', '197', '161', '565', '364', '975',
       '511', '298', '323', '1193', '428', '286', '575', '419', '335',
       '435', '797', '383', '2192', '167', '489', '537', '94', '414',
       '835', '3-1', '465', '48', '148', '247', '388', '555', '611',
       '243', '327', '78', '1126', '158', '122', '635', '183', '488',
       '457', '754', '1454', '532', '117', '542', '522', '459', '392',
       '72', '147', '324', '291', '149', '665', '293', '321', '624', '45',
       '132', '571', '116', '576', '139', '96', '574', '619', '487',
       '472', '678', '712', '622', '129', '346', '398', '65', '789',
       '334', '11', '612', '614', '366', '1255', '558', '213', '598',
       '146', '774', '421', '319', '524', '35', '677', '1651', '379',
       '543', '192', '343', '1121', '59', '512', '174', '14', '13', '374',
       '546', '889', '2271', '181', '745', '316', '342', '1525', '357',
       '38', '434', '-17', '683', '381', '16', '752', '666', '438', '449',
       '394', '86', '336', '389', '424', '751', '382', '411', '229',
       '219', '732', '98', '89', '329', '269', '528', '578', '338', '547',
       '572', '311', '588', '119', '494', '626', '377', '91', '88', '442',
       '581', '477', '437', '328', '557', '454', '656', '378', '77',
       '495', '638', '652', '618', '339', '469', '426', '718', '551',
       '87', '448', '597', '413', '283', '81', '21', '37', '582', '554',
       '397', '933', '359', '838', '417', '761', '32', '299', '743',
       '517', '964', '111', '584', '722', '372', '467', '1168', '667',
       '393', '57', '44', '486', '1141', '642', '828', '685', '844',
       '484', '8521', '416', '674', '632', '917', '945', '573', '533',
       '66', '83', '458', '586', '645', '615', '1124', '566', '514',
       '527', '591', '592', '538', '499', '55', '73', '56', '39', '74',
       '26', '28', '46', '54', '52', '34', '36', '24', '29', '53', '47',
       '41', '33', '27', '22', '31', '686', '684', '567', '675', '962',
       '878', '548', '369', '787', '893', '439', '726', 0, '728', '771',
       '544', '515', '563', '747', '825', '829', '657', '658', '742',
       '655', '577', '1435', '613', '497', '441', '399'], dtype=object)

In [ ]:
#price
# must be higher than 10 000 

df[df.price.str.contains]