In [1]:
import pandas as pd
import re

In [2]:
df['price'] = df['price'].replace({'\$': '', ',': '',"\€":""}, regex=True)

NameError: name 'df' is not defined

In [3]:
df.price.isna().sum()

NameError: name 'df' is not defined

In [7]:

df = pd.read_csv('final.csv')
df

/Users/mselmaesen/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (11,13,14,19,20,21) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Unnamed: 0,Unnamed: 0.1,source,hyperlink,locality,postcode,house_is,property_subtype,price,sale,...,open_fire,terrace,terrace_area,garden,garden_area,land_surface,land_plot_surface,facades_number,swimming_pool_has,building_state
0,0,0,6,8901695,4180,4180.0,True,MIXED_USE_BUILDING,295000,NaN,...,False,True,36,True,1000,1403,1403,0,False,GOOD
1,1,1,6,8747010,8730,8730.0,True,VILLA,675000,NaN,...,False,False,0,True,977,1526,1526,0,False,AS_NEW
2,2,2,6,8775843,4020,4020.0,True,APARTMENT_BLOCK,250000,NaN,...,False,False,0,False,0,760,760,0,False,TO_RENOVATE
3,3,3,6,8910441,1200,1200.0,True,HOUSE,545000,NaN,...,False,False,0,False,0,63,63,0,False,JUST_RENOVATED
4,4,4,6,8758672,1190,1190.0,True,MIXED_USE_BUILDING,500000,NaN,...,False,False,0,True,60,193,193,0,False,AS_NEW
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87475,87475,87475,3,8790149,NaN,8400.0,False,Apartment,169000,for sale,...,0,NaN,4,NaN,0,NaN,NaN,0,0,0
87476,87476,87476,3,8913091,NaN,1800.0,False,Apartment,390000,for sale,...,0,NaN,0,NaN,0,NaN,NaN,0,0,0
87477,87477,87477,3,8913078,NaN,7500.0,False,Apartment,150000,for sale,...,0,NaN,0,NaN,0,NaN,NaN,0,0,Good
87478,87478,87478,3,8863524,NaN,1150.0,False,Apartment,250000,for sale,...,0,NaN,0,NaN,0,NaN,NaN,0,0,Good
87479,87479,87479,3,8913056,NaN,9230.0,False,Apartment,142000,for sale,...,0,NaN,0,NaN,38,NaN,NaN,2,0,Good

In [8]:
#df['price'] = pd.to_numeric(df['price'],errors='coerce') # data loss

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87480 entries, 0 to 87479
Data columns (total 24 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         87480 non-null  int64
 1   Unnamed: 0.1       87480 non-null  int64
 2   source             87480 non-null  int64
 3   hyperlink          71511 non-null  object
 4   locality           75874 non-null  object
 5   postcode           80068 non-null  float64
 6   house_is           87480 non-null  bool
 7   property_subtype   87480 non-null  object
 8   price              85984 non-null  object
 9   sale               37414 non-null  object
 10  rooms_number       86106 non-null  object
 11  area               83953 non-null  object
 12  kitchen_has        81367 non-null  object
 13  furnished          76977 non-null  object
 14  open_fire          70030 non-null  object
 15  terrace            61138 non-null  object
 16  terrace_area       76187 non-null  object
 17  garden             79000 non-null  object
 18  garden_area        70365 non-null  object
 19  land_surface       64006 non-null  object
 20  land_plot_surface  63206 non-null  object
 21  facades_number     77999 non-null  object
 22  swimming_pool_has  66806 non-null  object
 23  building_state     56301 non-null  object
dtypes: bool(1), float64(1), int64(3), object(19)
memory usage: 15.4+ MB

In [10]:
df.price.isna().sum()

1496

In [11]:
df.shape[0]

87480

In [70]:

def find_id(x):
    if type(x) is str and "immoweb" in x:
        for n in re.findall("([0-9]+)",x):
            if len(n) == 7:
               
                return int (n)
    else: 
        return x
print (find_id(df.iloc[(30424,3)]))
print (type(df.iloc[(30424,3)]))
print (df.iloc[30424, 3])

print (find_id(df.iloc[(77771,3)]))

8944111
<class 'str'>
https://www.immoweb.be/en/classified/apartment/for-sale/antwerp/2018/8944111
8948998

In [71]:
df.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'source', 'hyperlink', 'locality',
       'postcode', 'house_is', 'property_subtype', 'price', 'sale',
       'rooms_number', 'area', 'kitchen_has', 'furnished ', 'open_fire',
       'terrace', 'terrace_area', 'garden', 'garden_area', 'land_surface',
       'land_plot_surface', 'facades_number', 'swimming_pool_has',
       'building_state '],
      dtype='object')

In [72]:
 
df["hyperlink"].isna().sum()

15969

In [73]:
df.hyperlink = df.hyperlink.apply(find_id)

In [74]:
print (df.iloc[30424, 3])

8944111

In [75]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87480 entries, 0 to 87479
Data columns (total 24 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         87480 non-null  int64
 1   Unnamed: 0.1       87480 non-null  int64
 2   source             87480 non-null  int64
 3   hyperlink          71511 non-null  object
 4   locality           75874 non-null  object
 5   postcode           80068 non-null  float64
 6   house_is           87480 non-null  bool
 7   property_subtype   87480 non-null  object
 8   price              85984 non-null  object
 9   sale               37414 non-null  object
 10  rooms_number       86106 non-null  object
 11  area               83953 non-null  object
 12  kitchen_has        81367 non-null  object
 13  furnished          76977 non-null  object
 14  open_fire          70030 non-null  object
 15  terrace            61138 non-null  object
 16  terrace_area       76187 non-null  object
 17  garden             79000 non-null  object
 18  garden_area        70365 non-null  object
 19  land_surface       64006 non-null  object
 20  land_plot_surface  63206 non-null  object
 21  facades_number     77999 non-null  object
 22  swimming_pool_has  66806 non-null  object
 23  building_state     56301 non-null  object
dtypes: bool(1), float64(1), int64(3), object(19)
memory usage: 15.4+ MB

In [80]:
df.hyperlink.isna().sum()

15969

In [81]:
pd.to_numeric(df['hyperlink'],errors='coerce').isna().sum()

18783

In [85]:
len(df.source[df.source==2])

7412